/* Color variables hoisted to index.css */

/* Defines CSS properties for the page container */
.pageContainer {
  background-color: var(--background-primary);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0 30px 0;
  box-sizing: border-box;
}

/* Defines CSS properties for the secondary container (Password Generator and Strength Calculator) */
.contentContainer {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--background-secondary);
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
}

/* Focus effect for input fields */
input:focus {
  border-color: #345b84;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,123,255,0.2);
}

/* Input label styling (ie username, password, etc.) */
.inputLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 0.95em;
  color: #333;
}

/* Input field styling (ie white box for input fields*/
.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Form card styling */
.formCard {
  max-width: 350px;
  margin: 15px auto;
  padding: 30px;
  border-radius: 25px; /* Rounds corners of form card */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: #ccdbe9;
  text-align: center;
}