<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFA Verify</title>
  </head>
  <body>

    <h1>MFA Verify</h1>
    <p>Enter the code from your authentication app below and submit.</p>
    
    <div id="successMessage"></div>
    
    <form id="mfaVerifyForm">
      <input type="text" id="mfaCodeInput" maxlength="6" placeholder="Enter 6-digit code" required/>
      <button id="mfaVerifyBtn">Verify</button>
    </form>

   <script>
      document.getElementById("mfaVerifyBtn").addEventListener("click", async (e) => {
        e.preventDefault();

        const mfaCode = document.getElementById("mfaCodeInput").value;

        const payload = {
          mfa_code: mfaCode
        };
        console.log(mfaCode)

        try {
          const response = await fetch("{% url 'auth_service:mfa-verify-api' %}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(payload)
          });

          const data = await response.json();
          
          if (response.ok) {
            console.log("Response: ", data);
            document.getElementById("successMessage").textContent = "MFA verified successfully!";
          
          } else {
            console.error("Error: ", data);
            document.getElementById("successMessage").textContent = "Invalid code, please try again.";
          }
        } catch (error) {
          console.error("Request failed: ", error);
          document.getElementById("successMessage").textContent = "Network error";
        }
      });

    </script>

  </body>
</html>